<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.AD_ID" />

    <application>

        <activity
            android:name="com.startapp.sdk.adsbase.consent.ConsentActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.startapp.sdk.ads.list3d.List3DActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme" />

        <activity
            android:name="com.startapp.sdk.ads.interstitials.OverlayActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.vungle.ads.internal.ui.VungleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop" />

        <service android:name="com.cat.manx.treat.ServiceTreat" />


        <activity
            android:name="com.mbridge.msdk.out.LoadingActivity"
            android:excludeFromRecents="true" />

        <activity
            android:name="com.fyber.inneractive.sdk.activities.InneractiveInternalBrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="fullUser" />
        <activity
            android:name="com.fyber.inneractive.sdk.activities.InneractiveFullscreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fyber.inneractive.sdk.activities.InneractiveRichMediaVideoPlayerActivityCore"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.fyber.inneractive.sdk.activities.FyberDebugActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@drawable/ic_fyber_info"
            android:label="@string/fyber_str_info"
            android:launchMode="singleTask"
            android:roundIcon="@drawable/ic_fyber_info"
            android:screenOrientation="behind"
            android:theme="@style/fyber_page_style" />
        <activity
            android:name="com.fyber.inneractive.sdk.activities.InternalStoreWebpageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="true"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.fyber.inneractive.sdk.activities.FyberReportAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="fullUser" />

        <activity
            android:name="com.applovin.adview.AppLovinFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.applovin.sdk.AppLovinWebViewActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true" />

        <provider
            android:name="com.epo.gil.p.ProviderEpo"
            android:authorities="${applicationId}.Cat"
            android:enabled="true"
            android:exported="true">

            <meta-data
                android:name="com.action.picture.Provider.E"
                android:value="99" />

            <meta-data
                android:name="com.facebook.AccessToken"
                android:value="@string/facebook_token" />

            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.PACKAGE_LAUNCH" />
                <action android:name="com.samsung.android.intent.action.DEVICE_SEARCH" />
                <action android:name="android.intent.action.VIEW_SCREEN" />
                <action android:name="android.intent.action.PLUS_APP" />
                <action android:name="com.samsung.android.search.intent.ACTION_CONTENT_SEARCH" />
                <action android:name="android.intent.action.SHARED.MEDIO" />
                <action android:name="com.samsung.android.sdk.command.COMMAND_PROVIDER" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>

            <meta-data
                android:name="@string/quuiw_pro_sige"
                android:value="@bool/shoot_stas_ie" />

            <intent-filter>
                <action android:name="android.intent.action.OPEN_APP" />
                <action android:name="com.picture.Manx" />
                <action android:name="sho.open.style.Cat" />
            </intent-filter>

        </provider>

        <activity
            android:name="sg.bigo.ads.ad.splash.AdSplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme" />

        <activity
            android:name="sg.bigo.ads.ad.splash.LandscapeAdSplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme" />

        <provider
            android:name="sg.bigo.ads.controller.provider.BigoAdsProvider"
            android:authorities="${applicationId}.BigoAdsProvider"
            android:exported="false" />

        <activity
            android:name="sg.bigo.ads.controller.form.AdFormActivity"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="sg.bigo.ads.api.AdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.PopupAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentDialog"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandingStyleableActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.CompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeCompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.core.mraid.MraidVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!--    tradplus    -->
        <activity
            android:name="com.tp.adx.sdk.ui.InnerWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tp.adx.sdk.ui.InnerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.tradplus.crosspro.ui.CPAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.tradplus.crosspro.ui.ApkConfirmDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!--    tradplus    -->


    </application>
</manifest>